.settings-tabs {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.settings-tabs button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  margin-bottom: -1px; /* Overlap with the container's border */
  transition: border-color 0.2s ease, color 0.2s ease;
  border-radius: 0; /* 鋭角にする */
}

.settings-tabs button:hover {
    color: var(--accent-color);
}

.settings-tabs button.active {
  border-bottom-color: var(--accent-color);
  font-weight: bold;
  color: var(--accent-color);
}

.settings-content {
  padding: 20px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
}
.setting-item:last-child {
  border-bottom: none;
}

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profile-info {
  margin-left: 20px;
}

.profile-info-item {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  margin: 0;
}

.profile-info-item:last-child {
  border-bottom: none;
}

.profile-info-item p {
  margin: 0;
  padding: 5px 0;
}

.display-settings-content {
  margin-left: 20px;
}

.other-settings-content {
  margin-left: 20px;
}